:host {
    height: 6rem;
    background-color: #085d9f;
    
}

#header {
    position: relative;
    height: 100%;
    display: flex;
    padding: 1rem;
    overflow: clip;
}

h1 {
    margin: 0;
    margin-top: auto;

    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    color: #ffff00;
}

h1::after {
    content: "_";
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#deco {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../assets/circuit_deco.svg");
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}