<template>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/nav.css">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="first_days.html">First Days</a>
        </li>
        <li>
            <a href="documents/Parent Welcome Letter.pdf">Welcome Letter</a>
        </li>
        <li>
            <a href="courses_ap_csa.html">AP CSA</a>
        </li>
        <li>
            <a href="expectations.html">Class Expectations</a>
        </li>
        <li>
            <a href="routines.html">Routines and Procedures</a>
        </li>
    </ul>
</template>